
body {
  margin: 0;
  padding: 0;
  background: url('https://t3.ftcdn.net/jpg/00/61/58/76/360_F_61587607_DtJjvh0zLzgpjWBg9WbZQk2ywdIly4i1.jpg');
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
  background-color: #EEEEEE;
}

#title {
  margin: auto;
  padding: 0px;
  color: #888888;
  font-size: 40px;
  font-weight: bold;
  font-family: "Georgia", sans-serif;
  font-style: italic;
  text-align: center;
  padding: 38px;
}

#title:hover {
  color: #555555;
}

.artwork {
  margin: auto;
  width: 40%;
}

div {
  user-select: none;
}

p {
  margin: 0;
}

canvas {
  padding: 0px;
}
